* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  max-width: 100%;
  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 134, 202, 1) 0%,
    rgba(88, 43, 218, 1) 24%,
    rgba(167, 0, 111, 1) 100%,
    rgba(217, 3, 104, 1) 100%
  ); */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  padding: 0.7rem;
}
h1 {
  text-align: center;
  margin-top: 1.5rem;
}
span {
  text-transform: uppercase;
  color: #fff;
  padding: 0.19rem 0.59rem;
  border-radius: 10px;
  font-weight: 800;
  background: #35a8f0;
}
.subcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  height: 60%;
  padding: 5rem 0.2rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 13px 13px 20px #969696, -13px -13px 20px #ffffff;
}
label {
  font-weight: 600;
  text-align: center;
  font-size: 1.19rem;
}
input {
  width: 85%;
  padding: 1.2rem;
  outline: none;
  border: none;
  border-radius: 30px;
  border-radius: 65px;
  background: #f5f4f4;
  box-shadow: inset 3.5px 3.5px 5px #939393, inset -7px -7px 5px #ffffff;
}

input::placeholder {
  opacity: 0.7;
  font-size: 0.65rem;
  color: black;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 0.5s;
}
button {
  padding: 1rem;
  margin-top: 1rem;
  outline: none;
  border-radius: 30px;
  font-weight: 900;
  background: #3f2b96;
  color: #fff;
  border: none;
  box-shadow: -10px -10px 15px rgb(255, 255, 255),
    4px 4px 5px rgba(5, 5, 5, 0.2);
  transition: 0.6s;
}

button:hover {
  cursor: pointer;
  background: #35286e;
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.96);
  transition: 0.1s;
}

.modal {
  position: absolute;
  width: 29%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 13px 13px 20px #969696, -13px -13px 20px #ffffff;
}
.btn-modal {
  margin-top: 2rem;
  width: 100px;
}

.container-modal .paragraph-modal {
  padding-top: 2rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

.none {
  display: none;
}
